[submodule "server/modules/jason"]
	path = modules/jason
	url = git@github.com:rluba/jason.git
[submodule "server/modules/unicode_utils"]
	path = modules/unicode_utils
	url = git@github.com:rluba/jai-unicode.git
