[submodule "server/modules/jason"]
	path = modules/jason
	url = https://github.com/rluba/jason.git
[submodule "server/modules/unicode_utils"]
	path = modules/unicode_utils
	url = https://github.com/rluba/jai-unicode.git
[submodule "modules/tracy"]
	path = metaprogram_modules/tracy
	url = https://github.com/rluba/jai-tracy.git
[submodule "modules/jai_parser"]
	path = modules/jai_parser
	url = https://github.com/SogoCZE/jai_parser
